table {
    width: 50%;
    border: solid 1px black;
}

.header {
    text-align: center;
    width: 50%;
    color: rgb(250, 156, 48);
    font-size: 30px;
    font-weight: 800;
    border: solid 1px black;
    background-color: rgb(250, 241, 191);
}

.subInfo {
    text-align: right;
}

.text {
    padding: 16px;
}

span {
    font-weight: 800;
}

img {
    height: 200px;
}

.back {
    text-align: right;
}