* {
    font-family: Roboto;
    box-sizing: border-box;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .header {
    width: 300px;
    background-color: rgb(250, 103, 128);
    text-align: center;
    color: white;
    font-size: 24px;
}

.form .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 16px;
    background-color: rgb(255, 223, 229);
}

.form .content .button {
    padding: 8px;
    display: flex;
    justify-content: center;
}

.result {
    background-color: rgb(255, 214, 214);
}