.header {
    background-color: rgb(19, 189, 146);
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.array,
.result {
    width: 300px;
}

form {
    background-color: rgb(162, 204, 195);
}

.footer {
    background-color: rgb(19, 189, 146);
    text-align: center;
    padding: 4px;
}